[production]

phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

includePaths.library = LIBRARY_PATH
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"

; so auto-loading will find our classes in library/App
autoloaderNamespaces[] = "App_"
autoloaderNamespaces[] = "models_"
autoloaderNamespaces[] = "ContextSearch_"
autoloaderNamespaces[] = "StrategyCurrencyRound_"
autoloaderNamespaces[] = "Format_"
autoloaderNamespaces[] = "ZendCustomExtend_"
autoloaderNamespaces[] = "ImageResize_"
autoloaderNamespaces[] = "BrainPriceImport_"

; initialize database
resources.db.adapter = "PDO_MYSQL"
resources.db.params.charset = "utf8"
resources.db.params.host = "localhost"
resources.db.params.username = "root"
resources.db.params.password = "1111"
resources.db.params.dbname = "dominion"
resources.db.params.date_format = "YYYY-MM-ddTHH:mm:ss"
resources.db.isDefaultTableAdapter = true

; initialize front controller resource
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.defaultControllerName = "index"
resources.frontController.defaultAction = "index"

pluginPaths.System_Application_Resource = APPLICATION_PATH

; initialize layout resource
;resources.layout.layoutPath = APPLICATION_PATH "/layouts"

; initialize a view (no options)
;resources.view[] =

; google analytics
;analytics.tracker = <your analytics tracker id>


search_engine.name = elastic_search
search_engine.host = localhost
search_engine.index = dominion
search_engine.type = products
search_engine.total_hits = getTotalHits
search_engine.convert_to_array = convertToArray

search_engine.search_fields[] = MAIN
search_engine.search_fields[] = CATALOGUE_NAME
search_engine.search_fields[] = MAIN_ALTERNATIVE
search_engine.search_fields[] = NAME_PRODUCT
search_engine.search_fields[] = TYPENAME
search_engine.search_fields[] = BRAND
search_engine.search_fields[] = ARTICLE

search_engine.name_fields[] = TYPENAME
search_engine.name_fields[] = NAME_PRODUCT
search_engine.name_fields[] = BRAND
search_engine.name_fields[] = MAIN
search_engine.name_fields[] = MAIN_ALTERNATIVE
search_engine.name_fields[] = ARTICLE


fast_filter.type = filter
fast_filter.name_fields[] = ITEM_ID


[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1



